@{
    var culture = CultureInfo.CurrentCulture.Name;
    ViewBag.Title = "Terms of use";
}

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>

        .simple-inner {
            max-width: 760px;
            margin: 0px auto;
            padding: 0px 15px 100px 15px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #E1E1E1;
        }

        .simple-inner ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .simple-inner li {
            padding-left: 25px;
            position: relative;
        }

        li {
            margin-bottom: 1rem;
        }
        .simple-inner li::before {
            position: absolute;
            top: -6px;
            left: 0px;
            content: "• ";
            font-size: 32px;
            line-height: 32px;
            color: rgb(120, 193, 72);
        }
    </style>
}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div class="container simple-inner">
        <h1 style="text-align: center;"><span style="color: #70b046;"><strong style="font-weight:bold"><localize>TERMS OF USE</localize></strong></span></h1>
        <p>
            <strong>
                ACCEPTANCE OF TERMS<br>
            </strong><a href="@Configuration["CurrentDomain"]en" target="_blank" rel="noopener">www.boostjuice.vn</a>&nbsp;(the “Site”) is owned and managed by Boost Juice VietNam Company Limited (“We” or “Us”). These Terms of Use apply to various services, including all information, communications, links, software, e-newsletter, products, services, other materials and any and all other services that maybe added, offered or provided to you from time to time (the “Services”) through this Site.<strong>
                <br>
            </strong>
        </p>
        <p>By using and accessing the Site, you agree to legally bounnd by these Terms of Use.</p>
        <p>
            You accept without limitation or qualification the Terms of Use, including the Privacy Policy.<br>
            These Terms of Use may be revises and updated from time to time by posting a revised version on the Site and your continued use of the Site shall be deemed as your constitute and binding acceptance of the revised and updated terms. You can review the most recent version any time of the Terms of Use&nbsp;<a href="@Configuration["CurrentDomain"]en/terms-of-use/">here</a>. If you do not agree to the revision of the Terms of Use, you should immediately cease use of any of the Services on the Site.<br>
            In addition, particular service(s) added, offered or provided through the Site, may subject to additional guidelines and/or rules. All such guidelines and/or rules shall be incorporated in these Terms of Use by reference.
        </p>
        <p>
            <strong>
                USE OF THE WEBSITE<br>
            </strong>You agree to comply with the&nbsp;<a href="@Configuration["CurrentDomain"]en/acceptable-use-policy/" target="_blank" rel="noopener">Policy of Acceptable Use</a>&nbsp;in using the Site. We may remove or delete any content that you have provided on the Site if we, in our absolute discretion, suspect that you have violated the&nbsp;<a href="@Configuration["CurrentDomain"]en/acceptable-use-policy/" target="_blank" rel="noopener">Policy of Acceptable Use</a>.<strong>
                <br>
            </strong>
        </p>
        <p>In carrying out any transactions with us on or in relation to the Website or registering an account with us on the Website, you warrant that:</p>
        <ul>
            <li>You are above 18 years of age;</li>
            <li>You are using your actual identity;</li>
            <li>The personal data that you have provided to us are true, accurate, complete, and current; and</li>
            <li>You will maintain and promptly update your personal particulars and ensure that such information is kept true, accurate, complete, and current.</li>
        </ul>
        <p>Children (users below the age of 21 years) are not eligible to use the Website or provide any personal data on the Site unsupervised. If you are below 21 years of age, you may use the Site and/or provide any personal data on the Website only after you have obtained consent from your parents/legal guardian or if you are under the supervision of your parent/legal guardian.</p>
        <p>
            If you participate in this Terms of Use as a representative of an organization, you represent and warrant that you entitle legal rights to bind the organization to the terms and conditions of this Terms of Use. In such case, the terms “you”, “your”, “user” or “customer” are refered to that organization.<br>
            In the event that after you accept this Terms of Use, we discover that you have no legal authority to bind the organization, you are personally responsible for the obligations under this Terms of Use. We are not responsible for any loss or damage arising from our belief in any guides, announcements, documents or contact that we deem authentic and original from a representative authorized by your organization.
        </p>
        <p>
            In the event that we have given you (or where you have chosen) a password which enables you to access certain parts of the Site, you acknowledge that you are fully responsible for maintaining the confidentiality of your password, and all activities occurring under your account.<br>
            You agree to notify us of any breach of security of your password.<br>
            We will not be liable for any loss or damage arising from your failure to comply with this “Use of the Website” Clause.
        </p>
        <p>
            <strong>
                LINKED CONTENT<br>
            </strong>The Site and Services provide you with opportunities to link to, or otherwise use, sites and services offered through or by third-party(ies). Your use of these third-party services is subject to terms posted by these third-party(ies). We have no control over any third-party site or service and we are not responsible for any changes to any third-party service or for the contents thereof, including, without limitation, any links that may be contained in or accessible through such third-party service. These links are provided solely as a convenience to you. You will need to make your own independent judgment regarding your interaction with these third-party sites or services. Our inclusion of advertisements for, or links to, a third-party site or service does not constitute an endorsement, authorization, sponsorship, or affiliation with respect to such web sites, their owners, or their providers.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                NOTICE<br>
            </strong>You hereby agree and acknowledge :<strong>
                <br>
            </strong>
        </p>
        <ul>
            <li>That all electronic communications made pursuant to the use of this Site shall be given legal effect, validity and enforce-ability and shall have, between the parties thereto, comparable evidential value to that accorded to a signed written document;</li>
            <li>Not to contest the legally binding nature, validity or enforce-ability of any transaction on the Site on the ground that it was entered into electronically.</li>
        </ul>
        <p>
            <strong>
                ADVERTISEMENTS AND PROMOTIONS<br>
            </strong>We may run advertisements and promotions from third parties on the Site. Your business dealings or correspondence with, or participation in promotions of, advertisers other than us, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. We are not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of third-party advertisers on the Site.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                DISCLAIMER OF WARRANTIES<br>
            </strong>You expressly agree that use of the Site is at your sole risk. Neither we, our clients, subsidiaries, its other affiliates nor any of our respective employees, agents, third party content providers or licensors warrant that the Site will be uninterrupted or error free; nor do we make any warranty as to the results that may be obtained from use of the Site, or as to the accuracy, reliability or content of any information, service, or merchandise provided through the Site, or the quality of any products, services, information, or documents purchased, rented or owned by you through the Site will meet you wishes.<strong>
                <br>
            </strong>
        </p>
        <p>
            Specifically, you acknowledge and agree that at times this Site may become inaccessible or inoperable for any reason, including but not limited to device damage; regular maintenance, repairs or replacements are sometimes conducted by us; causes beyond our reasonable control or which we can not reasonably expect, including but not limited to the interruption or non-opretation of the telecommunications service or of digital transmission links, malicious network attacks, network congestion or other incidents. You acknowledge and agree that we do not control the availability of the Site or the Services on a continuous or discountinued basis, and that we are not liable for any liability to you or other parties for this problem.<br>
            In addition, we reserve the right to discontinue any services in the “Carrer Opportunities” section of the Site at any time. We do not have any liability to you for discontinuing this service, even if you may be harmed by the interruption of using the service.
        </p>
        <p>The Site may offer finance, investment, architecture, construction and other such information but such information is desgined for educational and informational purposes only. While the information on the Site has been obtained from sources believed to be reliable, none of the data, news, information, reports or opinions nor any of the recommendations (if any) has been customised for any specific person or class of persons. Therefore, please use the Site at your own risk.</p>
        <p>By making available information and data onpursuant on the Site, including facts, views, opinions and recommendations of individuals and organisations of deemed interest, we and our content providers are not giving or purporting to give or representing or holding themselves out as giving financial, investment, tax, legal and other professional advices. You shall always seek the relevant professional advice before otherwise making any such decisions.</p>
        <p>
            <strong>
                LIMITATION OF LIABILITY<br>
            </strong>We shall not be liable to you for any direct, indirect, incidental, special, consequentialces or exemplary damages, including but not limited to damages for loss of profits, goodwill, physical, use, data or other intangible losses (even if we have been advised of the possibility of such damages), resulting from:<strong>
                <br>
            </strong>
        </p>
        <ul>
            <li>The use or the inability to use the Site;</li>
            <li>The cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the Site;</li>
            <li>Unauthorized access to or alteration of your transmissions or data;</li>
            <li>Intentionally infringing and causing damage from third parties, or viruses;</li>
            <li>Third parties’ advertisements posted on, through or connected to the Site;</li>
            <li>Products and services provided by third parties;</li>
            <li>Statements or conduct of any third parties on the Site;</li>
            <li>All injuries or deaths, resulting from the use of the Services, attendance at any event, from any content posted on or through the Services of the Site, or from the conduct of service for any user, whether online or offline; and</li>
            <li>Any other matter relating to the Site.</li>
        </ul>
        <p>
            Any objection to this Clause, our responsibility to you for any reason and any action, at any time shall be limited to a maximum of equal to the amount you paid us to use that service. Limitation of liability reflects the distribution of risks between each party.<br>
            We disclaim any and all liability of any kind for any unauthorized access to or use of your personally identifiable information. By accessing the Site, you acknowledge and agree to our disclaimer of any such liability. If you do not agree, you should not access or use the Site.
        </p>
        <p>
            <strong>
                FORUMS<br>
            </strong>All marterial, information and opinions contained in and/or displayed in bulletin boards, chat rooms, community pages or other social networking sites belong to or relate to us and the Site (“Forums”) are not necessarily ours or our subsidiaries, affiliates or other partners related to us or our content service providers. We do not commit to monitoring or reviewing the Forums, discussions and we are not responsible for the content of the Forums. These Personal contents, meaning your opinions, statements, recommendations or points of view, are your opinions, statements, recommendations and views, not ours.<strong>
                <br>
            </strong>
        </p>
        <p>We may at our sole discretion remove or change any content at any time without notice or liability. You are at your own risk using the Forums and such use will be subject to the Limitation of liability clause stated above and our Acceptable Use Policy that we have promulgated.</p>
        <p>
            <strong>
                INDEMNITIES<br>
            </strong>You agree to indemnify and hold us, and our subsidiaries, affiliates, officers, agents or other partners, and employees, harmless from and against all claims, excluse us from legal obligations, proceedings, losses, expenses, costs, including but not limited to court cost, attorneys’ fees, consultant fee made by any third party due to or arising out of your use of the Site, your connection to the Site, your violation of the Terms of Use, or your violation of any rights of another party (including any violations related to your account that you or any other person use your account to conduct). We reserve the right to take over the exclusive defense of any claim for which we are entittled to indemnification under this Section. In such event, you shall provide us with such cooperation as is reasonably requested by us.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                TRADEMARKS<br>
            </strong>We, our parent, subsidiaries and affiliates, own all rights to our logos and trademarks used in connection with the Site. All other logos and trademarks appearing on the Site are the property of each respective owners<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                PRIVACY POLICY<br>
            </strong>All personal data about you is subject to our&nbsp;<a href="@Configuration["CurrentDomain"]en/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a>.<br>
            The&nbsp;<a href="@Configuration["CurrentDomain"]en/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a>&nbsp;is deemed incorporated into the Terms of Use by reference to this Clause.
        </p>
        <p>
            <strong>
                TERMINATION (when log in application available)<br>
            </strong>We may terminate or suspend these Terms of Use at any time without notice to you. Without limiting the foregoing, we shall have the right to immediately terminate Your Account in the event of any conduct by you which we, in our sole discretion, considers to be unacceptable, or in the event of any breach by you of these Terms of Use. Cause for such termination shall include without limitation:<strong>
                <br>
            </strong>
        </p>
        <ul>
            <li>breaches or violations of the Terms of Service, Policy of Acceptable Use, or other incorporated documents, guidelines or rules;</li>
            <li>request by law enforcement or other government agencies;</li>
            <li>self-initiated account deletions;</li>
            <li>infringement of intellectual property rights of others;</li>
            <li>discontinuance or material modification to the services on the Website, or part thereof;</li>
            <li>unexpected technical or security issues or problems; or</li>
            <li>extended periods of inactivity.</li>
        </ul>
        <p>Termination of your account shall result in:</p>
        <ul>
            <li>removal of access to and barring of further use to all offerings of the Website that are associated with such account; and</li>
            <li>deletion of your password and all related information, files and content associated with or inside your account (or part thereof).</li>
        </ul>
        <p>Termination of your account shall be without prejudice to any other rights or remedies we may be entitled to under the Terms of Use, at law or in equity and shall not affect any accrued rights or liabilities nor the coming into or continuance in force of any provision which is expressly or by implication intended to come into or continue in force on or after such termination.</p>
        <p>
            <strong>
                SEVERABILITY<br>
            </strong>If any provision of the Terms of Use (partially or wholly) ceases to be effective or unlawful, void, or for any reason is unenforceable, then part of all of that provision shall be deemed severable from these Terms of Use and and shall not affect the validity or enforce-ability of any remaining provisions.<strong>
                <br>
            </strong>
        </p>
        <p>
            <strong>
                GENERAL<br>
            </strong>If any part of this Terms of Use is found to be unlawful or unenforceable under applicable law including, but not limited to, the waiver of liability and legal limitations set forth herein, such unenforceable provisions shall be deemed to have been superseded by proper provisions, which are in full compliance with the provisions of the previous provisions and the remaining provisions shall remain in full force and effect.<strong>
                <br>
            </strong>
        </p>
        <p>Your access and use of services may require you to accept the terms and conditions that apply to certain services in addition to this Terms of Uses.</p>
        <p>If applicable law does not permit the application of any or all of the above limitation of liability to you, then such limitations will apply to you only to the extent permitted by law.</p>
        <p>The Terms of Use shall be governed by and construed in accordance with the laws of the Republic of Vietnam, and any claims or disputes of whatever nature shall be subject to the exclusive jurisdiction of the courts of the Republic of Vietnam or Commercial Arbitration mechanism at our discretion.</p>
        <p>Our failure to exercise or enforce any right or provision of the Terms of Use shall not constitute a waiver of such right or provision. If any provision of the Terms of Use is found by a court of competent jurisdiction or commercial arbitration to be invalid, the parties nevertheless agree that the court or commercial arbitration should endeavour to give effect to the parties’ intentions as reflected in the provision, and the other provisions of the Terms of Use remain in full force and effect.</p>
        <p>Any account that you may have with us is not transferrable and any rights to such account will terminate upon your death. Upon receipt of a copy of your death certificate, your account will be terminated and all content that you have generated in your account will be permanently deleted.</p>
        <p>This Terms of Use is made into Vietnamese and English. In case of any discrepancies between the English and Vietnamese versions, the Vietnamese version shall prevail.</p>
        <!--CusAds0-->
        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>
    </div>
</div>

