@using BJ.Contract.Size;
@model SizeSpecificProductDto
@{
    Layout = null;
}
<tr>
    <td><strong>@Model.Energy kJ</strong> (@Model.Cal cal) Energy
    <td><strong>@Model.Fat g</strong> Fat, total</td>
    <td><strong>@Model.Carbonhydrate g</strong> Carbohydrate</td>
    <td><strong>@Model.DietaryFibre g</strong> Dietary fibre, total</td>
</tr>

<tr>
    <td><strong>@Model.Protein g</strong> Protein</td>
    <td><strong>@Model.FatSaturated g</strong> Fat - saturated</td>
    <td><strong>@Model.CarbonhydrateSugar g</strong> Carbohydrate - sugars</td>
    <td><strong>@Model.Sodium mg</strong> Sodium</td>
</tr>  