@model BJ.Application.Ultities.PagingBase
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@using Microsoft.AspNetCore.Http
<style>
    .page-item.active .page-link{
        background-color: #7ac142;
        border-color: #7ac142;
        color: #fff !important;
    }

    a:hover {
        cursor: pointer;
    }


    
    @@media(max-width: 768px){
        .paginationcenter {
            margin-bottom: 30%;
        }
    }
</style>
@{

    var urlTemplate = this.Context.Request.Path + "?PageIndex={0}";

    var request = ViewContext.HttpContext.Request;

    foreach (var key in request.Query.Keys)
    {
        if (key == "PageIndex")
        {
            continue;
        }
        if (request.Query[key].Count > 1)
        {
            foreach (var item in (string[])request.Query[key])
            {
                urlTemplate += "&" + key + "=" + item;
            }
        }
        else
        {
            urlTemplate += "&" + key + "=" + request.Query[key];
        }
    }

}

@if (Model.PageCount > 1)
{
    <div class="paginationcenter">
        <div id="pagination"></div>
        <ul class="pagination">
            @if (Model.PageIndex != 1)
            {
                <li class="paginate_button page-item previous">
                    <a class="page-link" style="text-decoration:none" title="1" href="@urlTemplate.Replace("{0}", "1")">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" style="text-decoration:none" href="@urlTemplate.Replace("{0}", (Model.PageIndex-1).ToString())"><i class="fa fa-angle-left"></i></a>
                </li>
            }
            @for (var i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="paginate_button page-item active">
                        <a class="page-link" style="text-decoration:none" href="#">@i <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="paginate_button page-item"><a class="page-link" style="text-decoration:none" title="Trang @i.ToString()" href="@urlTemplate.Replace("{0}", i.ToString())">@i</a></li>
                }
            }
            @if (Model.PageIndex != Model.PageCount)
            {
                <li class="paginate_button page-item next">
                    <a class="page-link" style="text-decoration:none" title="@Model.PageCount.ToString()" href="@urlTemplate.Replace("{0}", (Model.PageIndex+1).ToString())"><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="paginate_button page-item">
                    <a class="page-link" style="text-decoration:none" href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>

    </div>

}

