@using BJ.Contract.StoreLocation;
@model CreateStoreLocationOpenHourDto
<form asp-action="CreateTimeLine" method="post" enctype="multipart/form-data">
    <div class="page-header">
        <h2 class="header-title">Tạo mới thời gian</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/tat-ca-cua-hang.html" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Tất cả cửa hàng</a>
                <a href="/chi-tiet-cua-hang/@ViewBag.Id" class="breadcrumb-item">@ViewBag.Title</a>

                <span class="breadcrumb-item active">Tạo mới thời gian</span>
            </nav>
        </div>
    </div>
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="m-l-15">
                    <h4 class="m-b-0">Cửa hàng: @ViewBag.Title</h4>
                </div>
            </div>
            <div class="m-b-15">
                <button type="submit" class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin thời gian</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
@*                     <div class="form-group">
                        <label class="font-weight-semibold" for="DaysOfWeek">Thứ trong tuần</label>
                        <input type="text" class="form-control" id="DaysOfWeek" placeholder="Thứ trong tuần" asp-for="@Model.DaysOfWeek" required>
                    </div> *@
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productCategory">Thứ trong tuần</label>
                        <select class="select2" asp-for="@Model.DaysOfWeek" id="DaysOfWeek">
                            <option value="Mondy">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="start">Thời gian làm việc</label>
                        <input class="form-control" type="text" id="start" placeholder="Thời gian làm việc" asp-for="@Model.Start" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="end">Thời gian kết thức</label>
                        <input type="text" class="form-control" id="end" placeholder="Thời gian kết thúc" asp-for="@Model.End" />
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="switch m-r-10">
                            <input type="checkbox" id="switch-3" value="true" asp-for="@Model.Active">
                            <label for="switch-3"></label>
                        </div>
                        <label>Kích hoạt</label>
                    </div>
                </div>
            </div>
        </div>


    </div>
</form>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>

}