@using BJ.Contract.ViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/new.css">

}

@{
    var culture = CultureInfo.CurrentCulture.Name;
    ViewBag.Title = Model.Title;

}
@model NewsUserViewModel
<div class="boost-main-content">
    <div class="main-fold-angle banner-news"></div>
    <div class="container">
        <div class="row">
            <div id="blog-posts" class="eight columns">

                <div class="row" style="display: block;">
                    <h2>@Model.Title</h2>
                    @if (Model.DateCreated != null)
                    {
                        <div class="date">@Model.DateCreated.Value.ToString("dd MMMM yyyy",CultureInfo.CreateSpecificCulture("en-US"))</div>

                    }


                    <img src="@Configuration["BaseAddress"]/ImageNews/@Model.ImagePath" title="@Model.Title" alt="@Model.Title" class="blog-cover">
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                </div>
            </div>

          
        </div>
    </div>
</div>
