@using BJ.Application.Ultities;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@using BJ.Contract.ViewModel;
@model PagedViewModel<NewsUserViewModel>
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>
        .shortdesc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
        }
        .detailbtn{
            margin-top:15px;
        }

        .button {
            display: inline-block;
            height: 42px;
            padding: 0 30px;
            color: #fff;
            text-align: center;
            line-height: 42px;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            background-color: #ed6b06;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            box-sizing: border-box;
            font-size:16px;
            margin-top:10px;
            transition-duration: 0.4s;
        }


        .button:hover {
                color: #7EC142;
        }
        /* CSS nền hiển thị Modal */
        .nenmodal .nenmodal2 {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0,0.7);
            z-index: 2;
            display: none;
        }
        /* CSS bảng nội dung Modal */
        .nenmodal .ndmodal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            background-color: #ed6b06;
            color: #ffff;
            width: 1000px;
            z-index: 2;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 20px;
            display: block;
            position: fixed;
            box-shadow: 0px 0px 10px #111;
        }
        /* CSS bao bọc của nút tắt Modal */
        .nenmodal .closemodal {
            text-align: center;
            margin-top: -40px;
            margin-bottom: 10px;
        }
        /* CSS nút tắt modal */
        .closemodal button {
            width: 40px;
            height: 40px;
            font-size: 30px;
            padding: 0px;
            border-radius: 100%;
            background: #de4436;
            color: #fff;
            border: none;
        }

        .nenmodal.active .nenmodal2 {
            display: block;
        }
        /* CSS hiệu ứng hiển thị Modal */
        .nenmodal.active .ndmodal {
            transition: all 300ms ease-in-out;
            transform: translate(-50%,-50%) scale(1);
        }

        @@-webkit-keyframes sk-bounce {
            0%, 100% {
                -webkit-transform: scale(0)
            }

            50% {
                -webkit-transform: scale(1)
            }
        }

        @@media (max-width: 870px) {
            .nenmodal .ndmodal {
                width: 90%;
            }
        }

    </style>
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewBag.Title = "Promotion";

}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div id="blog-posts" class="container" itemscope itemtype="https://schema.org/ItemList">
        <div class="preloader" style="display:none">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        @if (Model.Items.Count() > 0 && Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <div class="row" style="display: block;" itemscope itemtype="https://schema.org/Article">
@*                     <img style="position:absolute;right:0" src="https://anonyviet.com/resource/tuyetroi/topright.png" />
 *@                    <div class="six columns">
                        <p>
                            <a href="/@culture/@_loc["promotionUrl"]/@item.Id/@item.Alias" itemprop="url">
                                <img src="@Configuration["BaseAddress"]/ImageNews/@item.ImagePath" itemprop="image" title="@item.Title" alt="@item.Title" class="blog-cover">
                            </a>
                        </p>
                    </div>
                    <div class="six columns">



                        <h2 itemprop="name"> @Html.Raw(item.Title)</h2>
                        <div class="shortdesc">
                            <p itemprop="description">@Html.Raw(item.ShortDesc)</p>

                        </div>
                        <div class="detailbtn">
                            <a itemprop="url" style="color: #7ac142;text-decoration: underline;" href="/@culture/@_loc["promotionUrl"]/@item.Id/@item.Alias"><localize>Read more</localize></a>

                        </div>
                        <div class="buynowbtn">
                            <button onclick="momodal()" class="button"><localize>Buy Now</localize></button>

                        </div>

                    </div>

                </div>
                <div style="left:0;width:100%;height:104px;bottom:0; background:url(https://anonyviet.com/resource/tuyetroi/footer-christmas.png) repeat-x bottom left;">
                </div>

            }
        }

        else
        {
            <p><localize>There are no promotions yet</localize></p>

        }






        @await Component.InvokeAsync("Pager" , Model)

    </div>


</div>
<div class="nenmodal" id="nenmodal-1">
    <div class="nenmodal2"></div>
    <div class="ndmodal">
        <div class="closemodal"><button onclick="momodal()">×</button></div>
        <div class="vibe-options">
            <div class="container">

                <div class="row">
                    <div class="notify six columns">
                        <div>

                            <h3><localize>Download the<br>Boost Juice App</localize></h3>
                            <p><localize>Your phone just got smarter! From the convenience of your fingers (or toes if you’re talented like that) you can order and customise your Boost from the App and strut your stuff past any queues. If that’s not enough, we give so much stuff away you’d think we we’re having a closing down sale! Which we aren’t. We’re here forever.</localize></p>
                            <p>
                                <a href="http://bit.ly/1yqA2a2" target="_blank">
                                    <img src="~/images/ios.png"
                                         width="160">
                                </a>
                                <a href="http://bit.ly/USKKXP" target="_blank">
                                    <img src="~/images/ggplay.png"
                                         width="160">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="notify six columns">
                        <div>

                            <h3><localize>Call us maybe?</localize></h3>
                            <a href="tel:1800 282890" style="color:#FFFF">Hotline: 1800 282890</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var culture = $(location).attr('pathname');

    culture.indexOf(1);

    culture.toLowerCase();

    culture = culture.split("/")[1];

    var newsUrl = $(location).attr('pathname');

    newsUrl.indexOf(1);

    newsUrl.toLowerCase();

    newsUrl = newsUrl.split("/")[2];

    function momodal() {
        document.getElementById("nenmodal-1").classList.toggle("active");
    }
</script>