@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@using BJ.Contract.ViewModel;
@model IEnumerable<NewsUserViewModel>
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewBag.Title = "Promotion";

}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div id="blog-posts" class="container" itemscope itemtype="https://schema.org/ItemList">
        @if (Model.Count() > 0 && Model != null)
        {
            foreach (var item in Model)
            {
                <div class="row" style="display: block;" itemscope itemtype="https://schema.org/Article">
                    <div class="six columns">
                        <p>
                            <a href="/@culture/@_loc["promotionUrl"]/@item.Id/@item.Alias" itemprop="url">
                                <img src="@Configuration["BaseAddress"]/ImageNews/@item.ImagePath" itemprop="image" title="@item.Title" alt="@item.Title" class="blog-cover">
                            </a>
                        </p>
                    </div>
                    <div class="six columns">



                        <h2 itemprop="name"> @Html.Raw(item.Title)</h2>
                        <p itemprop="description">@Html.Raw(item.ShortDesc)</p>
                        <a itemprop="url" href="/@culture/@_loc["promotionUrl"]/@item.Id/@item.Alias"><localize>Read more</localize></a>
                    </div>
                </div>
            }
        }

        else
        {
            <p><localize>There are no promotions yet</localize></p>

        }







    </div>


</div>