@using BJ.Contract.ViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles {
    <style>
        @@media (min-width: 600px) {
            .formactive {
                display: flex !important;
            }
        }
    </style>
}
@model CreateCategoryAdminView

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="page-header">
        <h2 class="header-title">Tạo mới loại</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <a href="/tat-ca-loai.html " class="breadcrumb-item">Tất cả loại</a>

                <span class="breadcrumb-item active">Tạo mới loại</span>
            </nav>
        </div>
    </div>
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img src="assets/images/others/thumb-16.jpg" alt="">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">Tên: </h4>
                    <p class="text-muted m-b-0">Code: </p>
                </div>
            </div>
            <div class="m-b-15">
                <button type="submit" class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Lưu</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin loại</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Ảnh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Mô tả</a>
            </li>
            
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="catName">Tên loại</label>
                        <input type="text" class="form-control" id="catName" placeholder="Tên loại" asp-for="@Model.CreateCategoryTranslationDto.CatName" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="sort">Thứ tự</label>
                        <input type="number" class="form-control" id="sort" asp-for="@Model.CreateCategoryDto.Sort" min="1">
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="switch m-r-10">
                            <input type="checkbox" id="switch-3" value="true" asp-for="@Model.CreateCategoryDto.Active">
                            <label for="switch-3"></label>
                        </div>
                        <label>Kích hoạt</label>
                    </div>
                    @* <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div> *@
                    <div class="row" style="display:none" id="rangeTime">
                        <div class="col-md-12">
                          
                            <div class="form-group">
                                <label>Thời gian kích hoạt</label>
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control datepicker-input" placeholder="Từ" asp-for="@Model.CreateCategoryDto.DateActiveForm">
                                    <span class="p-h-10">Đến</span>
                                    <input type="text" class="form-control datepicker-input"  placeholder="Đến" asp-for="@Model.CreateCategoryDto.DateTimeActiveTo">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-option">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="control-label">Ảnh đại diện *</label>

                            <div class="drop-zone">
                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                <input type="file" class="drop-zone__input" asp-for="@Model.Image">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Mô tả</label>
                        <textarea class="form-control" id="productBrand" placeholder="Mô tả" asp-for="@Model.CreateCategoryTranslationDto.Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</form>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script> *@
    <script>
        $("#switch-3").on("click", function () {

            if (($(this).prop("checked")) == false) {
                $("#rangeTime").hide();
            } else {
                $("#rangeTime").show();
            }
        });
       

        $('.select2').select2();
        $('.datepicker-input').datepicker();

    </script>
    <script>
        document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
            const dropZoneElement = inputElement.closest(".drop-zone");

            dropZoneElement.addEventListener("click", (e) => {
                inputElement.click();
            });

            inputElement.addEventListener("change", (e) => {
                if (inputElement.files.length) {
                    updateThumbnail(dropZoneElement, inputElement.files[0]);
                }
            });

            dropZoneElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropZoneElement.classList.add("drop-zone--over");
            });

            ["dragleave", "dragend"].forEach((type) => {
                dropZoneElement.addEventListener(type, (e) => {
                    dropZoneElement.classList.remove("drop-zone--over");
                });
            });

            dropZoneElement.addEventListener("drop", (e) => {
                e.preventDefault();

                if (e.dataTransfer.files.length) {
                    inputElement.files = e.dataTransfer.files;
                    updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                }

                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        function updateThumbnail(dropZoneElement, file) {
            let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

            // First time - remove the prompt
            if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                dropZoneElement.querySelector(".drop-zone__prompt").remove();
            }

            // First time - there is no thumbnail element, so lets create it
            if (!thumbnailElement) {
                thumbnailElement = document.createElement("div");
                thumbnailElement.classList.add("drop-zone__thumb");
                dropZoneElement.appendChild(thumbnailElement);
            }
            //Chèn tên dưới hình----------
            //thumbnailElement.dataset.label = file.name;
            //------------
            // Show thumbnail for image files
            if (file.type.startsWith("image/")) {
                const reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = () => {
                    thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                };
            } else {
                thumbnailElement.style.backgroundImage = null;
            }
        }

    </script>
}