@using BJ.Contract.Category;
@model CategoryDto
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Chi tiết loại</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/tat-ca-loai.html " class="breadcrumb-item">Tất cả loại</a>

            <span class="breadcrumb-item active">Chi tiết loại</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="@Configuration["BaseAddress"]/ImageCategory/@Model.ImagePath" alt="">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.CatName</h4>
                <p class="text-muted m-b-0">Code: @Model.Code</p>
            </div>
        </div>
        <div class="m-b-15">
            <button class="btn btn-warning" onclick="location.href='/cap-nhat-loai/@Model.Id'" type="button">
                <i class="anticon anticon-edit"></i>
                <span>Cập nhật</span>
            </button>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Tổng quan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Ảnh</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Tên:</td>
                                    <td>	@Model.CatName</td>
                                </tr>
                                <tr>
                                    <td>Hoạt động:</td>
                                    <td>
                                        @if (Model.Active == true)
                                        {
                                            <span class="badge badge-pill badge-cyan">Có</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-red">Không</span>

                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin thêm</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Code:</td>
                                    <td>@Model.Code</td>
                                </tr>
                                <tr>
                                    <td>Meta Desc</td>
                                    <td>@Model.MetaDesc</td>
                                </tr>
                                <tr>
                                    <td>Meta Key</td>
                                    <td>@Model.MetaKey</td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Ngày tạo</td>
                                    <td>@Model.DateCreated</td>
                                </tr>
                                <tr>
                                    <td>Ngày cập nhật</td>
                                    <td>@Model.DateUpdated</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mô tả</h4>
                </div>
                <div class="card-body">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3" style="background-color:gray">
                            <img class="img-fluid" src="@Configuration["BaseAddress"]/ImageCategory/@Model.ImagePath" alt="">
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
