﻿@using BJ.Contract.Product;
@model IEnumerable<UserProductDto>
@{
    Layout = null;
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@if (Model != null && Model.Count() > 0)
{
    @foreach (var product in Model.Where(x => x.Active == true))
    {
        <li class="drink-block" id="li_@product.Id" style="height: 380px;transition: all 1s linear 0s;margin-top:40px" itemscope itemtype="https://schema.org/Product">
            <a class="grid_item show-ing" id="grid_@product.Id" clicked="false" data-masp="@product.Id" data-proName="@product.ProductName" data-catName="@product.CatName">
                <img src="@Configuration["BaseAddress"]/ImageProduct/@product.ImagePathCup" itemprop="image" />
                <img src="~/images/cup_shadow.png" itemprop="image" />
                <img src="@Configuration["BaseAddress"]/ImageProduct/@product.ImagePathHero" class="topleft" itemprop="image" />
                <img src="@Configuration["BaseAddress"]/ImageProduct/@product.ImagePathIngredients" itemprop="image" />
                <ul>
                    @foreach (var subCat in product.UserSubCategorySpecificProductDto)
                    {
                        @foreach (var sub in subCat.SubCategoryDto.SubCategoryTranslationDtos)
                        {
                            if (sub != null)
                            {
                                <li itemprop="category"><span><img itemprop="image" src="@Configuration["BaseAddress"]/ImageSubCategory/@subCat.ImagePath"></span>@sub.SubCatName</li>
                            }
                            else
                            {
                                <li><span><img itemprop="image" src="@Configuration["BaseAddress"]/ImageSubCategory/@subCat.ImagePath"></span></li>


                            }

                        }
                    }
                </ul>

                <span itemprop="name">@product.ProductName</span>
                <a  class="button" onclick="momodal()">
                    <localize>BUY</localize>
                </a>
            </a>

            <div class="og-expander" id="@product.Id" style="transition: height 100ms ease 0s;display:none">
            </div>

        </li>

    }
}
else
{
    <section id="hints" style="display: block;">
        <p> <img src="~/images/title_wait.png"> </p>
        <h3><localize>You want find drinks in this category?</localize></h3>
        <p><localize>There are no drinks in this category. Please come back later.</localize></p>
        <ul>
            <li class="filter1"><img src="~/images/hint-1.png">Strawberry</li>
            <li class="filter2"><img src="~/images/hint-2.png">Chocolate</li>
            <li class="filter3"><img src="~/images/hint-3.png">Pineapple</li>
            <li class="filter4"><img src="~/images/hint-4.png">Green Tea</li>
            <li class="filter5"><img src="~/images/hint-5.png">Coconut</li>
            <li class="filter6"><img src="~/images/hint-6.png">Milk</li>
            <li class="filter7"><img src="~/images/hint-7.png">Lemon</li>
        </ul>
    </section>
}
<div class="nenmodal" id="nenmodal-1">
    <div class="nenmodal2"></div>
    <div class="ndmodal">
        <div class="closemodal"><button onclick="momodal()">×</button></div>
        <div class="vibe-options">
            <div class="container">

                <div class="row">
                    <div class="notify six columns">
                        <div>

                            <h3><localize>Download the<br>Boost Juice App</localize></h3>
                            <p><localize>Your phone just got smarter! From the convenience of your fingers (or toes if you’re talented like that) you can order and customise your Boost from the App and strut your stuff past any queues. If that’s not enough, we give so much stuff away you’d think we we’re having a closing down sale! Which we aren’t. We’re here forever.</localize></p>
                            <p>
                                <a href="http://bit.ly/1yqA2a2" target="_blank">
                                    <img src="~/images/ios.png"
                                         width="160">
                                </a>
                                <a href="http://bit.ly/USKKXP" target="_blank">
                                    <img src="~/images/ggplay.png"
                                         width="160">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="notify six columns">
                        <div>

                            <h3><localize>Call us maybe?</localize></h3>
                            <a href="tel:1800 282890" style="color:#FFFF">Hotline: 1800 282890</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    function momodal() {
        document.getElementById("nenmodal-1").classList.toggle("active");
    }
    var first = $(location).attr('pathname');

    first.indexOf(1);

    first.toLowerCase();

    first = first.split("/")[1];
    $(".drink-block .grid_item").on("click", function (i) {

        var nameCat = $(this).attr("data-catName");
        var idPro = $(this).attr("data-masp");
        var namePro = $(this).attr("data-proName");

        var alias = $(this).attr("data-alias");
        var e = $(".drink-block .grid_item").index(this);

        if ($(this).attr("clicked") == "false") {

            $(".drink-block .og-expander:eq( " + e + " )").css("height", "1000");
            $(".drink-block:eq( " + e + " )").css("height", "1430");
            $(".drink-block:eq( " + e + " )").addClass(" og-expanded");
            $(".drink-block .grid_item:eq( " + e + " )").attr("clicked", "true");

            $('.drink-block .og-expander').not(':eq("' + e + '")').css("height", "");
            $('.drink-block .og-expander').not(':eq("' + e + '")').css("display", "none");

            $('.drink-block').not(':eq("' + e + '")').css("height", "380px");
            $('.drink-block').not(':eq("' + e + '")').removeClass(" og-expanded");
            $('.drink-block .grid_item').not(':eq("' + e + '")').attr("clicked", "false");

            document.getElementById(idPro).style.display = "block";
            $("#li_" + idPro).css("height", "1430");
            $.ajax({
                url: '@Url.Action("Detail")',
                datatype: "json",
                type: "get",
                data: { proId: idPro, culture : first },

                async: true,
                success: function (results) {
                    jQuery("#" + idPro).fadeOut(100, function () {
                        $("#" + idPro).html();
                        $("#" + idPro).html(results);
                    }).fadeIn(300);


                },
                error: function (xhr) {
                    alert('error');
                }
            });
            $("#li_" + idPro).addClass(" og-expanded");
            $(this).attr("clicked", "true");

        }
        else {

            document.getElementById(idPro).style.display = "none";

            $("#li_" + idPro).removeClass(" og-expanded");
            $("#li_" + idPro).css("height", "380px");
            $(this).attr("clicked", "false");
            $("#li_" + namePro).css("display", "none");
            $("#" + idPro).css("height", "");
        }
        i.preventDefault()



    });


</script>
