@using BJ.Application.Ultities;
@model ProductUserViewModel
@using BJ.Contract.Product;
@using BJ.Contract.ViewModel;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;

@section Styles{
    <link rel="stylesheet" href="~/BoostJuice/css/product.css">

}
@{
    ViewBag.Title = "Menu - Boost Juice";
    var culture = CultureInfo.CurrentCulture.Name;
}

<style>
  
    .button {
        text-align: center;
        opacity: 0;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        color: #fff;
        font-size: 1rem;
        background: #71b047;
        border-radius: 20px;
        transition: all .5s ease 0s;
        text-transform: uppercase;
        letter-spacing: .11rem;
        max-width:75%;
    }
    @@media(max-width: 375px){
        .button{
            max-width:100%;
            top:10px;
        }
    }
    .button:after{
        content: "";
        clear: both;
    }
    .drink-block:hover .button {
        opacity: 1;
        -webkit-transition: all .3s ease .3s;
        transition: all .3s ease .3s;
        margin-top:20px;
        color: #fff;
    }


    @@-webkit-keyframes sk-bounce {
        0%, 100% {
            -webkit-transform: scale(0)
        }

        50% {
            -webkit-transform: scale(1)
        }
    }

    /* CSS nền hiển thị Modal */
    .nenmodal .nenmodal2 {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        z-index: 1;
        display: none;
    }
    /* CSS bảng nội dung Modal */
    .nenmodal .ndmodal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        background-color: #ed6b06;
        color:#ffff;
        width: 1000px;
        z-index: 2;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 20px;
        display: block;
        position: fixed;
        box-shadow: 0px 0px 10px #111;
    }



    @@media (max-width: 870px) {
        .nenmodal .ndmodal {
            width: 90%;
        }
    }


    /* CSS bao bọc của nút tắt Modal */
    .nenmodal .closemodal {
        text-align: center;
        margin-top: -40px;
        margin-bottom: 10px;
    }
    /* CSS nút tắt modal */
    .closemodal button {
        width: 40px;
        height: 40px;
        font-size: 30px;
        padding: 0px;
        border-radius: 100%;
        background: #de4436;
        color: #fff;
        border: none;
    }

    .nenmodal.active .nenmodal2 {
        display: block;
    }
    /* CSS hiệu ứng hiển thị Modal */
    .nenmodal.active .ndmodal {
        transition: all 300ms ease-in-out;
        transform: translate(-50%,-50%) scale(1);
    }

    .footer:before {
       z-index:auto;
    }

    
    .container {
        position: relative;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .notify.column, .notify.columns {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }


    @@media (min-width: 400px) {
        .container {
            width: 85%;
            padding: 0;
        }
    }

    @@media (max-width: 390px) {
        .vibe-options {
            max-height: 400px;
            overflow-y: scroll;
        }
    }
    @@media (min-width: 769px) {
        .container {
            width: 90%;
        }

        .six.columns {
            width: 48%;
        }

        .column:first-child, .columns:first-child {
            margin-left: 0;
        }

        .column, .columns {
            margin-left: 4%;
        }
    }
</style>
<form asp-action="Index" method="get">
    <div class="page-wrapper">
        <div id="maincontent" class="main_content_page">
            <div class="banner"></div><a id="contentarea" tabindex="-1"></a>
            <div class="columns">
                <div class="column main">
                    <div class="main-filter-wrapper" itemscope itemtype="https://schema.org/ItemList">
                        <div class="main-filter__section-row">
                            <div class="main-filter-section__tab main-filter-section__tab--active" popular="true">
                                <a href="/@culture/@_loc["drinkUrl"]" class="main-filter-section__tab-link"><localize>Choose drink type</localize></a>
                            </div>

                        </div>
                        <div class="main-filter__set-row" itemscope itemtype="https://schema.org/ProductModel" >

                            @if (Model.UserCategoryDtos != null && Model.UserCategoryDtos.Count() > 0)
                            {
                                @foreach (var cat in Model.UserCategoryDtos.Where(x => x.Active == true))
                                {
                                    <div data-category-id="@cat.Id" class="main-filter__set" popular="false" data-catId="@cat.Id" name="@cat.Alias" itemprop="name">
                                        <span class="main-filter__set-info">
                                            <img itemprop="image" class="main-filter__set-image" srcset="@Configuration["BaseAddress"]/ImageCategory/@cat.ImagePath" asp-append-version="true" src="@Configuration["BaseAddress"]/ImageCategory/@cat.ImagePath">
                                        </span>
                                        @cat.CatName
                                    </div>
                                    <div data-category-id="@cat.Id" class="main-filter__set" popular="false" data-catId="@cat.Id" name="@cat.Alias" itemprop="name">
                                        <span class="main-filter__set-info">
                                            <img itemprop="image" class="main-filter__set-image" srcset="@Configuration["BaseAddress"]/ImageCategory/@cat.ImagePath" asp-append-version="true" src="@Configuration["BaseAddress"]/ImageCategory/@cat.ImagePath">
                                        </span>
                                        @cat.CatName
                                    </div>
                                    
                                }
                            }


                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div id="view-all-sidebar"><localize>View All</localize></div>
        <div class="drinks-container">

            <div class="main">
                @if (Model.UserCategoryDtos != null && Model.UserCategoryDtos.Count() > 0)
                {
                    @foreach (var cat in Model.UserCategoryDtos.Where(x => x.Active == true))
                    {
                        @if (Model.UserProductDtos != null && Model.UserProductDtos.Count() > 0)
                        {
                            <div class="title category">
                                <h1 class="h1 display text-uppercase">
                                    @cat.CatName
                                </h1>
                            </div>
                            <ul id="og-grid" class="og-grid" itemscope itemtype="https://schema.org/ItemList">
                                
                                @foreach (var product in Model.UserProductDtos.Where(x => x.CategoryId.Equals(cat.Id)))
                                {
                                    <li class="drink-block" id="li_@product.Id" style="height: 380px;transition: all 1s linear 0s;margin-top:40px" itemscope itemtype="https://schema.org/Product">
                                        <a class="grid_item show-ing" id="grid_@product.Id" clicked="false" data-masp="@product.Id" data-alias="@product.Alias">
                                            <img src="@Configuration["BaseAddress"]/ImageProduct/@product.ImagePathCup" itemprop="image" />
                                            <img src="~/images/cup_shadow.png" itemprop="image" />
                                            <img src="@Configuration["BaseAddress"]/ImageProduct/@product.ImagePathHero" class="topleft" itemprop="image" />
                                            <img src="@Configuration["BaseAddress"]/ImageProduct/@product.ImagePathIngredients" itemprop="image" />
                                            <ul>
                                                @foreach (var subCat in product.UserSubCategorySpecificProductDto)
                                                {
                                                    @foreach (var sub in subCat.SubCategoryDto.SubCategoryTranslationDtos)
                                                    {
                                                        if (sub != null)
                                                        {
                                                            <li itemprop="category"><span><img itemprop="image" src="@Configuration["BaseAddress"]/ImageSubCategory/@subCat.ImagePath"></span>@sub.SubCatName</li>
                                                        }
                                                        else
                                                        {
                                                            <li><span><img itemprop="image" src="@Configuration["BaseAddress"]/ImageSubCategory/@subCat.ImagePath"></span></li>


                                                        }

                                                    }
                                                }
                                            </ul>

                                            <span itemprop="name">@product.ProductName</span>
                                            <a class="button" onclick="momodal()">
                                                <localize>BUY</localize>
                                            </a>
                                        </a>

                                        <div class="og-expander" id="@product.Alias" style="transition: height 100ms ease 0s;display:none">
                                        </div>

                                    </li>

                                }



                            </ul>
                        }
                        else
                        {
                            <section id="hints" style="display: block;">
                                <p> <img src="~/images/title_wait.png"> </p>
                                <h3><localize>There are currently no products</localize></h3>
                                <p><localize>Please come back later. Sorry for this inconvenience</localize></p>
                                <ul>
                                    <li class="filter1"><img src="~/images/hint-1.png">Strawberry</li>
                                    <li class="filter2"><img src="~/images/hint-2.png">Chocolate</li>
                                    <li class="filter3"><img src="~/images/hint-3.png">Pineapple</li>
                                    <li class="filter4"><img src="~/images/hint-4.png">Green Tea</li>
                                    <li class="filter5"><img src="~/images/hint-5.png">Coconut</li>
                                    <li class="filter6"><img src="~/images/hint-6.png">Milk</li>
                                    <li class="filter7"><img src="~/images/hint-7.png">Lemon</li>
                                </ul>
                            </section>
                        }

                    }
                }
               
            </div>
        </div>

    </div>

</form>
<div class="nenmodal" id="nenmodal-1">
    <div class="nenmodal2"></div>
    <div class="ndmodal">
        <div class="closemodal"><button onclick="momodal()">×</button></div>
        <div class="vibe-options">
            <div class="container">

                <div class="row">
                    <div class="notify six columns">
                        <div>
                            
                            <h3><localize>Download the<br>Boost Juice App</localize></h3>
                            <p><localize>Your phone just got smarter! From the convenience of your fingers (or toes if you’re talented like that) you can order and customise your Boost from the App and strut your stuff past any queues. If that’s not enough, we give so much stuff away you’d think we we’re having a closing down sale! Which we aren’t. We’re here forever.</localize></p>
                            <p>
                                <a href="http://bit.ly/1yqA2a2" target="_blank">
                                    <img src="~/images/ios.png"
                                         width="160">
                                </a>
                                <a href="http://bit.ly/USKKXP" target="_blank">
                                    <img src="~/images/ggplay.png"
                                         width="160">
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="notify six columns">
                        <div>

                            <h3><localize>Call us maybe?</localize></h3>
                            <a href="tel:1800 282890" style="color:#FFFF" >Hotline: 1800 282890</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="drinks_legend">
    <p><strong><localize>The average adult daily energy intake is 8700 kJ</localize></strong></p>
    <p><strong>†</strong><localize>Boosters not suitable for children under 15 years or pregnant women, except for chia and lucuma powder.</localize></p>
    <p><localize>Boosters are not a sole source of nutrition and should be consumed in conjunction with a healthy nutritious diet.</localize></p>
    <p><localize>Are you reading this seriously? We don't know whether to congratulate you for your efforts, or just because you have nothing better to do... either way, you're here, which is good for you.</localize></p>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>

<script>

    function momodal() {
        document.getElementById("nenmodal-1").classList.toggle("active");
    }
    var first = $(location).attr('pathname');

    first.indexOf(1);

    first.toLowerCase();

    first = first.split("/")[1];



    $(".drink-block .grid_item").on("click", function (i) {

        var idPro = $(this).attr("data-masp");

        var alias = $(this).attr("data-alias");
        var e = $(".drink-block .grid_item").index(this);

        if ($(this).attr("clicked") == "false") {

            $(".drink-block .og-expander:eq( " + e + " )").css("height", "1000");
            $(".drink-block:eq( " + e + " )").css("height", "1430");
            $(".drink-block:eq( " + e + " )").addClass(" og-expanded");
            $(".drink-block .grid_item:eq( " + e + " )").attr("clicked", "true");

            $('.drink-block .og-expander').not(':eq("' + e + '")').css("height", "");
            $('.drink-block .og-expander').not(':eq("' + e + '")').css("display", "none");

            $('.drink-block').not(':eq("' + e + '")').css("height", "380px");
            $('.drink-block').not(':eq("' + e + '")').removeClass(" og-expanded");
            $('.drink-block .grid_item').not(':eq("' + e + '")').attr("clicked", "false");


            document.getElementById(alias).style.display = "block";


            $("#li_" + idPro).css("height", "1430");

            $.ajax({
                url: '@Url.Action("Detail")',
                datatype: "json",
                type: "get",
                data: { proId: idPro, culture: first },

                async: true,
                success: function (results) {
                    // jQuery("#" + alias).fadeOut(200, function () {

                    // }).fadeIn(350);
                    $("#" + alias).html();
                    $("#" + alias).html(results);
                },
                error: function (xhr) {
                    alert('error');
                },

            });
            $("#li_" + idPro).addClass(" og-expanded");
            $(this).attr("clicked", "true");


        }
        else {

            document.getElementById(alias).style.display = "none";
            $('html, body').animate({
                scrollTop: $("#li_" + idPro).offset().top - 100
            }, 1000);
            $("#li_" + idPro).removeClass(" og-expanded");
            $("#li_" + idPro).css("height", "380px");
            $(this).attr("clicked", "false");
            $("#li_" + namePro).css("display", "none");
            $("#" + alias).css("height", "");

        }


    });

    $('.main-filter__set-row > .main-filter__set').on("click", function () {
        var idCat = $(this).attr("data-catId");
        var popular = $(this).attr("popular");
        var name = $(this).attr("name");
        for (var i = 0; i < $('.main-filter__set-row > .main-filter__set').length; i++) {
            $('.main-filter__set-row > .main-filter__set')[i].className = $('.main-filter__set-row > .main-filter__set')[i].className.replace("main-filter__set--active", "");
        }
        $(this).addClass("main-filter__set--active");
        $("#view-all-sidebar").addClass("active");
        $("#view-all-sidebar").css("display", "block");

        var e = $(this).attr("popular");
        console.log(e);
        $.ajax({
            url: '/filtercategory',
            datatype: "json",
            type: "GET",
            data: { catId: idCat, popular: e, culture: first },

            async: true,
            success: function (results) {
                $(".drinks-container").html("");
                $(".drinks-container").html(results);



                return true;

            },
            error: function (xhr) {
                console.log(xhr.message);
            }
        });

    });
    $("#view-all-sidebar").on("click", function () {
        window.location.reload();
    });
</script>