@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@using BJ.Contract.ViewModel;
@model IEnumerable<NewsUserViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/new.css">

}
@{
    ViewBag.Title = "News";
}
<div class="boost-main-content">
    <div class="main-fold-angle banner-news"></div>
    <div class="container">
        <div class="row">
            <div id="blog-posts" class="eight columns" itemscope itemtype="https://schema.org/ItemList">
                @if (Model != null && Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="row" style="display: block;" itemscope itemtype="https://schema.org/Article">
                            <h2 itemprop="name" >@item.Title</h2>
                            @if (item.DateCreated != null)
                            {

                                <div itemprop="dateCreated" class="date">@item.DateCreated.Value.ToString("dd MMMM yyyy",CultureInfo.CreateSpecificCulture("en-US"))</div>

                            }
                            <a itemprop="url" href="/@culture/@_loc["newsUrl"]/@item.Id/@item.Alias">
                                <img itemprop="image" src="@Configuration["BaseAddress"]/ImageNews/@item.ImagePath" title="@item.Title" alt="@item.Title" class="blog-cover">
                            </a>
                            <p itemprop="description">
                                @Html.Raw(item.ShortDesc)
                            </p>
                            <a itemprop="url" href="/@culture/@_loc["newsUrl"]/@item.Id/@item.Alias"><localize>Read more</localize></a>
                        </div>
                    }
                }
                else
                {
                    <p><localize>There are no news yet</localize></p>

                }
            </div>

            <div class="four columns hide-mobile-small" id="popular-posts">
                <h2><localize>Popular</localize></h2>
                
            </div>
        </div>
    </div>
</div>
<script>
    var culture = $(location).attr('pathname');

    culture.indexOf(1);

    culture.toLowerCase();

    culture = culture.split("/")[1];

    var newsUrl = $(location).attr('pathname');

    newsUrl.indexOf(1);

    newsUrl.toLowerCase();

    newsUrl = newsUrl.split("/")[2];

    $.ajax({
        url: '/news/popular',
        datatype: "json",
        type: "get",
        data: { popular: true, culture: culture, newsUrl: newsUrl },

        async: true,
        success: function (results) {
            jQuery("#popular-posts").fadeOut(100, function () {
                $("#popular-posts").append(results);
            }).fadeIn(300);


        },
        error: function (xhr) {
            alert('error');
        }
    });
</script>