
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@using BJ.Contract.ViewModel;
@model IEnumerable<BlogUserViewModel>
@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewBag.Title = "Wellbeing";

}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>
    <div id="blog-posts" class="container">
        @if(Model.Count() > 0 && Model != null)
        {
            foreach(var item in Model)
            {
                <div class="row" style="display: block;">
                    <div class="six columns">
                        <p>
                            <a href="/@culture/@_loc["wellbeingUrl"]/@item.Id/@item.Alias">
                                <img src="@Configuration["BaseAddress"]/ImageBlog/@item.ImagePath" title="@item.Title" alt="@item.Title" class="blog-cover">
                            </a>
                        </p>
                    </div>
                    <div class="six columns">
                       
                        

                        <h2> @Html.Raw(item.Title)</h2>
                        <p>@Html.Raw(item.ShortDesc)</p>
                        <a href="/@culture/@_loc["wellbeingUrl"]/@item.Id/@item.Alias"><localize>Read more</localize></a>
                    </div>
                </div>
            }
        }

        else
        {
            <p><localize>There are no blogs yet</localize></p>

        }







    </div>


</div>