
@using BJ.Application.Ultities;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@using BJ.Contract.ViewModel;
@* @model IEnumerable<BlogUserViewModel>
 *@
@model PagedViewModel<BlogUserViewModel>

@section Styles {
    <link rel="stylesheet" href="~/BoostJuice/css/healthy.css">
    <style>
        .shortdesc {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            line-clamp: 10;
            -webkit-box-orient: vertical;
        }

        .detailbtn {
            margin-top: 15px;
        }
    </style>
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    ViewBag.Title = "Wellbeing";

}
<div class="boost-main-content">
    <div class="main-fold-angle bg-image ">
    </div>

    <div id="blog-posts" class="container" itemscope itemtype="https://schema.org/ItemList">
        <div class="preloader" style="display:none">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        @if (Model.Items.Count() > 0 && Model.Items != null)
        {
            foreach (var item in Model.Items)
            {
                <div class="row" style="display: block;" itemscope itemtype="https://schema.org/Blog">

                    <div class="six columns">
                        <p>
                            <a itemprop="url" href="/@culture/@_loc["wellbeingUrl"]/@item.Id/@item.Alias">
                                <img itemprop="image" src="@Configuration["BaseAddress"]/ImageBlog/@item.ImagePath" title="@item.Title" alt="@item.Title" class="blog-cover">
                            </a>
                        </p>
                    </div>
                    <div class="six columns">
                       
                        

                        <h2 itemprop="name"> @Html.Raw(item.Title)</h2>
                        <div class="shortdesc">
                            <p itemprop="description">@Html.Raw(item.ShortDesc)</p>

                        </div>
                        <div class="detailbtn">
                            <a itemprop="url" href="/@culture/@_loc["wellbeingUrl"]/@item.Id/@item.Alias"><localize>Read more</localize></a>

                        </div>
                    </div>

                </div>
            }
        }

        else
        {
            <p><localize>There are no blogs yet</localize></p>

        }
        @await Component.InvokeAsync("Pager" , Model)







    </div>


</div>
<script>
    var culture = $(location).attr('pathname');

    culture.indexOf(1);

    culture.toLowerCase();

    culture = culture.split("/")[1];

    var newsUrl = $(location).attr('pathname');

    newsUrl.indexOf(1);

    newsUrl.toLowerCase();

    newsUrl = newsUrl.split("/")[2];

</script>