@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@using BJ.App.Controllers.Components
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><localize>@ViewBag.Title</localize></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Boost Juice, is one of Australia's most famous and loved juice and smoothie brands, nước ép, healthy, sinh tố, trái cây tươi,boost
                                    boost juice
                                    boost juice menu
                                    boost juice vietnam
                                    boost juice vietnam menu
                                    boost juice bars
                                    boost juice menu vietnam
                                    boost 500
                                    boost around me
                                    the order 2017" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta name="zalo-platform-site-verification" content="VuIt8Ak7PGzPci0HkB9oCtYavHYKqZT4CZaq" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


    <!--Xác minh với google search console-->
    <meta name="google-site-verification" content="NrlBdnAzdQSrgBWAGmhMyESwtZrH_oYP5pYckV55IRs" />
    <!---->

    <meta property="og:site_name" content="Boost Juice" />
    <meta name="title" content="Boost Juice" />
    <meta name="description" content="Boost Juice is one of Australia's most famous and loved juice and smoothie brands." />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Boost Juice" />
    <meta property="og:image" content="@Configuration["MetaImage"]" />
    <meta property="og:image" content="@Configuration["MetaImage"]" />
    <meta property="og:image:secure_url" content="@Configuration["MetaImage"]" />
    <meta property="og:image:secure_url" content="@Configuration["MetaImage"]" />
    <meta property="og:description" content="Boost Juice is one of Australia's most famous and loved juice and smoothie brands." />
    <meta property="og:url" content="@Configuration["CurrentDomain"]" />
    <meta property="og:site_name" content="Boost Juice" />



    <link href="~/BoostJuice/images/favicon.png" rel="shortcut icon">
    <link rel="icon" href="~/BoostJuice/images/cropped-iconboostweb-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/BoostJuice/images/cropped-iconboostweb-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/BoostJuice/images/cropped-iconboostweb-180x180.png" />
    <meta name="msapplication-TileImage" content="~/BoostJuice/images/cropped-iconboostweb-270x270.png" />
    <style>
        body {
            font-family: 'Roboto', arial, sans-serif;
            font-size: 18px;
            letter-spacing: .75px;
            color: #595959;
            background-color: #ffffff;
            font-weight: 400;
            margin: 0
        }
        a{
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
            text-decoration: none;
        }

        .button :hover {
            color:#fff;
        }

        .hotline-phone-ring-wrap {
            position: fixed;
            bottom: 120px;
            right: -5px;
            z-index: 1;
        }

        .hotline-phone-ring {
            position: relative;
            visibility: visible;
            background-color: transparent;
            width: 110px;
            height: 110px;
            cursor: pointer;
            z-index: 11;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            transition: visibility .5s;
            left: 0;
            bottom: 0;
            display: block;
        }

        .hotline-phone-ring-circle {
            width: 85px;
            height: 85px;
            top: 10px;
            left: 10px;
            position: absolute;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #e60808;
            -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            opacity: 0.5;
        }

        .hotline-phone-ring-circle-fill {
            width: 55px;
            height: 55px;
            top: 25px;
            left: 25px;
            position: absolute;
            background-color: rgba(230, 8, 8, 0.7);
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        .hotline-phone-ring-img-circle {
            background-color: #e60808;
            width: 33px;
            height: 33px;
            top: 37px;
            left: 37px;
            position: absolute;
            background-size: 20px;
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hotline-phone-ring-img-circle .pps-btn-img {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .hotline-phone-ring-img-circle .pps-btn-img img {
            width: 20px;
            height: 20px;
        }

        .hotline-bar {
            position: absolute;
            background: rgba(230, 8, 8, 0.75);
            height: 40px;
            width: 180px;
            line-height: 40px;
            border-radius: 3px;
            padding: 0 10px;
            background-size: 100%;
            cursor: pointer;
            transition: all 0.8s;
            -webkit-transition: all 0.8s;
            z-index: 9;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
            border-radius: 50px !important;
            /* width: 175px !important; */
            left: 33px;
            bottom: 37px;
        }

        .hotline-bar > a {
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            text-indent: 50px;
            display: block;
            letter-spacing: 1px;
            line-height: 40px;
            font-family: Arial;
        }

        .hotline-bar > a:hover,
        .hotline-bar > a:active {
            color: #fff;
        }

        @@-webkit-keyframes phonering-alo-circle-anim {
            0% {
                -webkit-transform: rotate(0) scale(0.5) skew(1deg);
                -webkit-opacity: 0.1;
            }

            30% {
                -webkit-transform: rotate(0) scale(0.7) skew(1deg);
                -webkit-opacity: 0.5;
            }

            100% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
                -webkit-opacity: 0.1;
            }
        }

        @@-webkit-keyframes phonering-alo-circle-fill-anim {
            0% {
                -webkit-transform: rotate(0) scale(0.7) skew(1deg);
                opacity: 0.6;
            }

            50% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
                opacity: 0.6;
            }

            100% {
                -webkit-transform: rotate(0) scale(0.7) skew(1deg);
                opacity: 0.6;
            }
        }

        @@-webkit-keyframes phonering-alo-circle-img-anim {
            0% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
            }

            10% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }

            20% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }

            30% {
                -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            }

            40% {
                -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            }

            50% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
            }

            100% {
                -webkit-transform: rotate(0) scale(1) skew(1deg);
            }
        }

        @@media (max-width: 768px) {
            .hotline-bar {
                display: none;
            }
        }

        ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px ;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px #70b046;
        }

        .zalo-chat-widget {
            bottom: 90px !important;
            right: 20px !important;
        }


    </style>
    <link rel="stylesheet" href="~/BoostJuice/css/boostjuice.css">
    <link rel="stylesheet" href="~/BoostJuice/css/home.css">
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("metatags", required: false)

    <link rel="stylesheet" href="~/BoostJuice/css/style.css">
    <link rel="stylesheet" href="~/BoostJuice/css/aos.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

   
    <!--Template with season-->
    @{
        var config = Configuration["Template:Winter"];
    }
    @if(config == "ON")
    {
        <script async defer src="~/BoostJuice/Template/winter.js"></script>

    }
    <style>
        
      
    </style>
    <!--end template-->


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?@Configuration["GoogleAnalytics"]"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@Configuration["GoogleAnalytics"]');
    </script>
    <!-- Google Tag Manager -->
    <script>        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@Configuration["GoogleTagManager"]');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="boost-home" id="body">
   



    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=@Configuration["GoogleTagManager"]"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "@Configuration["Facebook:PageId"]");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: '@Configuration["Facebook:Version"]'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = '../../js/customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    @await Component.InvokeAsync("Header", culture)




    <!-- END nav -->
        @RenderBody()

    @await Component.InvokeAsync("Footer", culture)

    <div class="hotline-phone-ring-wrap" style="z-index:31">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:1800 282890" class="pps-btn-img">
                    <img src="https://nocodebuilding.com/wp-content/uploads/2020/07/icon-call-nh.png" alt="Gọi điện thoại" width="50">
                </a>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>

    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/BoostJuice/js/UsersOnline.js"></script>
    
    <div class="zalo-chat-widget" data-oaid="@Configuration["Zalo"]" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="" data-height=""></div>

    <script async defer src="~/js/zalosdk.js"></script>

    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)

    <script>
        function myFunction(x) {
            x.classList.toggle("change");
            if (($(".boost-nav-trigger").attr("clicked")) == "false") {
                $('.boost-home').addClass('nav-active');
                $('.boost-main').addClass('nav-is-visible');
                $('.boost-main-nav').addClass('nav-is-visible');

                $(".boost-nav-trigger").attr("clicked", "true");
                $('.boost-logo').addClass('is-visible');
                $('.sub-navi ul').children().insertBefore('#lgcontainer');

            } else {
                $('.boost-home').removeClass('nav-active');
                $('.boost-main').removeClass('nav-is-visible');
                $('.boost-main-nav').removeClass('nav-is-visible');

                $(".boost-nav-trigger").attr("clicked", "false");
                $('.boost-logo').removeClass('is-visible');


            }
        }
    </script>

</body>
</html>