@using BJ.Contract.Product;
@model ProductDto
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="page-header">
    <h2 class="header-title">Chi tiết sản phẩm</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/tat-ca-san-pham.html " class="breadcrumb-item">Tất cả sản phẩm</a>

            <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
        </nav>
    </div>
</div>
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="@Configuration["BaseAddress"]/ImageProduct/@Model.ImagePathIngredients" alt="">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.ProductName</h4>
                <p class="text-muted m-b-0">Code: @Model.Code</p>
            </div>
        </div>
        <div class="m-b-15">
            <button class="btn btn-warning" onclick="location.href='/cap-nhat-san-pham/@Model.Id'" type="button">
                <i class="anticon anticon-edit"></i>
                <span>Cập nhật</span>
            </button>
            <button class="btn btn-info" onclick="location.href='/chi-tiet-san-pham/@Model.Id/them-moi-ngon-ngu'" type="button">
                <i class="anticon anticon-plus-circle"></i>
                <span>Thêm ngôn ngữ</span>
            </button>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Tổng quan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Ảnh sản phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-language">Ngôn ngữ sẵn có</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Giá giảm:</td>
                                    <td class="text-dark font-weight-semibold">@Model.Discount</td>
                                </tr>
                                <tr>
                                    <td>Loại:</td>
                                    <td>	@Model.CatName</td>
                                </tr>

                                <tr>
                                    <td>Home Tag:</td>
                                    <td>
                                        @if (Model.HomeTag == true)
                                        {
                                            <span class="badge badge-pill badge-cyan">Có</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-red">Không</span>

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bán chạy:</td>
                                    <td>
                                        @if (Model.BestSeller == true)
                                        {
                                            <span class="badge badge-pill badge-cyan">Có</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-red">Không</span>

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hoạt động:</td>
                                    <td>
                                        @if (Model.Active == true)
                                        {
                                            <span class="badge badge-pill badge-cyan">Có</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-red">Không</span>

                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin thêm</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Sizes:</td>
                                    <td class="d-flex">
                                        @foreach (var item in Model.SizeSpecificProducts)
                                        {
                                            <span class="d-flex align-items-center m-r-20">
                                                <span>@item.SizeName</span>
                                            </span>
                                        }
                                    </td>

                                </tr>
                                <tr>
                                    <td>Danh mục con:</td>
                                    <td class="d-flex" style="height:100px;text-align:center">
                                        @foreach(var item in Model.SubCategorySpecificProductDtos)
                                        {
                                            <span class="d-flex align-items-center m-r-20">
                                                <span class="badge  m-r-5">

                                                    <img class="img-fluid rounded" src="@Configuration["BaseAddress"]/ImageSubCategory/@item.SubCategoryDto.ImagePath" style="max-width: 50px" alt="">

                                                </span>
                                                @foreach(var subTranslate in item.SubCategoryDto.SubCategoryTranslationDtos.Where(x => x.SubCategoryId.Equals(item.SubCategoryId)))
                                                {
                                                    <span>@subTranslate.SubCatName</span>

                                                }
                                            </span>
                                        }
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mô tả ngắn:</td>
                                    <td>@Model.ShortDesc</td>
                                </tr>
                                <tr>
                                    <td>Meta Desc</td>
                                    <td>@Model.MetaDesc</td>
                                </tr>
                                <tr>
                                    <td>Meta Key</td>
                                    <td>@Model.MetaKey</td>
                                </tr>
                                <tr>
                                    <td>Ngày tạo</td>
                                    <td>@Model.DateCreated</td>
                                </tr>
                                <tr>
                                    <td>Ngày cập nhật</td>
                                    <td>@Model.DateModified</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Mô tả</h4>
                </div>
                <div class="card-body">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="@Configuration["BaseAddress"]/ImageProduct/@Model.ImagePathIngredients" alt="">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="@Configuration["BaseAddress"]/ImageProduct/@Model.ImagePathCup" alt="">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="@Configuration["BaseAddress"]/ImageProduct/@Model.ImagePathHero" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="product-language">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                @foreach (var item in Model.ProductTranslationDtos)
                                {
                                    <tr>

                                        <td>@item.LanguageId</td>
                                        <td class="text-dark font-weight-semibold">@item.ProductName</td>
                                        <td>
                                            <a href="/chi-tiet-san-pham/@Model.Id/ngon-ngu/@item.Id/xem-chi-tiet">
                                                <span class="badge badge-pill badge-info">Xem chi tiết</span>

                                            </a>
                                            <a href="/chi-tiet-san-pham/@Model.Id/ngon-ngu/@item.Id/cap-nhat">
                                                <span class="badge badge-pill badge-warning">Cập nhật</span>

                                            </a>
                                        </td>
                                    </tr>
                                }
   
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
