@using BJ.Application.Ultities;
@using BJ.Contract.Product;
@model PagedViewModel<ViewAllProduct>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form asp-action="Index" asp-controller="Product" method="get">
    <div class="page-header">
        <h2 class="header-title">Danh sách sản phẩm</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>

                <span class="breadcrumb-item active">Tất cả sản phẩm</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="col-lg-8 ">
                            <div class="input-affix">
                                <i class="prefix-icon anticon anticon-search"></i>
                                <input type="text" class="form-control" placeholder="Search" name="keyword" value="@ViewBag.Keyword">

                            </div>
                        </div>
                        <br />
                    </div>

                </div>

                <div class="col-lg-12 text-right">
                    <button type="button" class="btn btn-danger" onclick="location.href='/tat-ca-san-pham.html'">
                        <i class="anticon anticon-close-circle m-r-5"></i>
                        <span>Reset</span>
                    </button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/tao-moi-san-pham.html'">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span >Add Product</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            @*                         <th>
                            <div class="checkbox">
                            <input id="checkAll" type="checkbox">
                            <label for="checkAll" class="m-b-0"></label>
                            </div>
                            </th> *@
                            <th>Code</th>
                            <th>Thứ tự</th>
                            <th>Ảnh</th>
                            <th>Sản phẩm</th>
                            <th>Loại</th>
                            <th>Bán chạy</th>
                            <th>Hoạt động</th>
                            <th>Bắt đầu</th>
                            <th>Kết thúc</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items != null && Model.Items.Count() > 0)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    @* <td>
                            <div class="checkbox">
                            <input id="check-item-1" type="checkbox">
                            <label for="check-item-1" class="m-b-0"></label>
                            </div>
                            </td> *@
                                    <td>
                                        @item.Code
                                    </td>
                                    <td>@item.Sort</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid rounded" src="@Configuration["BaseAddress"]/ImageProduct/@item.ImageIngredients" style="max-width: 120px" alt="">
                                        </div>
                                    </td>
                                    <td>@item.ProductName</td>
                                    <td>@item.CategoryName</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            @if (item.BestSeller == true)
                                            {
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Có</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Không</div>
                                            }

                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            @if (item.Active == true)
                                            {
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Có</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Khóa</div>
                                            }

                                        </div>
                                    </td>
                                    <td>
                                        @item.DateActiveForm
                                    </td>
                                    <td>
                                        @item.DateTimeActiveTo
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" onclick="location.href='/chi-tiet-san-pham/@item.Id'">
                                            <i class="anticon anticon-eye"></i>
                                        </button>
                                        <button type="button" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" onclick="location.href='/cap-nhat-san-pham/@item.Id'">
                                            <i class="anticon anticon-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" onclick="location.href='/chi-tiet-san-pham/@item.Id/them-moi-ngon-ngu/'">
                                            <i class="fas fa-language"></i>
                                        </button>
                                    </td>
                                </tr>
                            }


                        }


                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager" , Model)

        </div>
    </div>
</form>
@section Scripts{
}

